<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">
    <title>E-Startup Design</title>
</head>

<body>
  <div id="slideout-menu">
      <ul>

          <li>
              <a href="index">Home</a>
          </li>
          <li>
              <a href="blog">Blog</a>
          </li>
          <li>
              <a href="project">Projects</a>
          </li>
          <li>
              <a href="about">About</a>
          </li>
          <li>  {%if session['loggedin'] == True%}
                {%else%}
                <a href="register">Register</a>
                {%endif%}
            </li>
          <li>{%if session['loggedin'] == True%}
            <a href="user"> {{session['name']}}</a>
                {%else%}
            <a href="login">Login</a>
                {%endif%}
          </li>
          <li>
              <input type="text" placeholder="Search Here">
          </li>
      </ul>
  </div>

  <nav>
      <div id="logo-img">
        <a href="index">
            <br><br>
            <img src="/static/img/logo_prim1.png">
        </a>
      </div>
      <div id="menu-icon">
          <i class="fas fa-bars"></i>
      </div>
      <ul>

          <li>
              <a href="index">Home</a>
          </li>
          <li>
              <a href="blog">Blog</a>
          </li>
          <li>
              <a href="project">Projects</a>
          </li>
          <li>
              <a class="active" href="about">About</a>
          </li>
          <li>  {%if session['loggedin'] == True%}
                {%else%}
                    <a href="register">Register</a>
                {%endif%}
            </li>
          <li>{%if session['loggedin'] == True%}
            <a href="user"> {{session['name']}}</a>
                {%else%}
            <a href="login">Login</a>
                {%endif%}
          </li>
          <li>
              <div id="search-icon">
                  <i class="fas fa-search"></i>
              </div>
          </li>
      </ul>
  </nav>

  <div id="searchbox">
      <input type="text" placeholder="Search Here">
  </div>

  <main>

    <h2 class="page-heading">About E-Startup Design</h2>
    <div id="post-container">
      <section id="blogpost">
        <div class="card">
          <div class="card-image">
            <img src="/static/img/gif3.gif" alt="Card Image">
          </div>
          <div class="card-description">
            <h3>Introducere</h3>
            <p>Suntem o companie de consultanță și dezvoltare software, specializată în furnizarea de soluții tehnologice 
                inovatoare pentru clienții noștri. Suntem o echipă de experți în tehnologie care oferă servicii de consultanță 
                personalizate și soluții software scalabile, adaptate nevoilor și obiectivelor clienților noștri.</p>
            <p>Misiunea noastră este de a crea soluții tehnologice de înaltă calitate, inovatoare și orientate către clienți.
                 Valorile noastre de bază sunt transparența, inovația, responsabilitatea și colaborarea.</p>
            <p>Ne-am angajat să fim un partener de încredere pentru clienții noștri, oferindu-le soluții software scalabile și
                 personalizate. De la începutul activității noastre, am reușit să ne stabilim ca un jucător de încredere în industria IT,
                  și ne străduim să menținem acest standard în toate proiectele noastre.
                </p>
          </div>
        </div>

      </section>

      <aside id="sidebar-about">
        <h3>Bonus!</h3>
        <p>Suntem mereu în căutarea unor noi provocări și oportunități de a inova. Clienții noștri reprezintă prioritatea noastră și
             suntem dedicați să le oferim soluții tehnologice inovatoare, care să îi ajute să își atingă obiectivele și să își dezvolte afacerile.</p>
             <p>Compania este infiintata recent, echipa fiind formata din doi fosti colegi de facultate!</p>
             
            <img class="w-8 h-8 p-0.5 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="" alt="Bordered avatar">
            <img class="w-8 h-8 p-0.5 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" src="" alt="Bordered avatar">

      </aside>
    </div>

    <footer>
        <div id="left-footer">
            <h3>Quick Links</h3>
            <p>
                <ul>
                    <li>
                        <a href="index">Home</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="blog">Blogs</a>
                    </li>
                    <li>
                        <a href="project">Projects</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </p>
        </div>

        <div id="right-footer">
            <h3>Follow us on</h3>
            <div id="social-media-footer">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p>© 2023 Acest site este dezvoltat de E-Startup Design.</p>
        </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>