<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">
    <title>E-Startup Design</title>
</head>

<body>
    <div id="slideout-menu">
        <ul>
          <li>{%if session['loggedin'] == True%}
            <a href="user"> {{session['name']}}</a>
                {%else%}
            <a href="login">Login</a>
                {%endif%}
          </li>
            <li>
                <a href="home">Home</a>
            </li>
            <li>
                <input type="text" placeholder="Search Here">
            </li>
        </ul>
    </div>

  <nav>
      <div id="logo-img">
        <a href="home">
            <br><br>
            <img src="/static/img/logo_prim1.png">
        </a>
      </div>
      <div id="menu-icon">
          <i class="fas fa-bars"></i>
      </div>
      <ul>
        <li>{%if session['loggedin'] == True%}
          <a href="user"> {{session['name']}}</a>
              {%else%}
          <a href="login">Login</a>
              {%endif%}
        </li>
          <li>
            <a href="home">Home</a>
        </li>
          <li>
              <div id="search-icon">
                  <i class="fas fa-search"></i>
              </div>
          </li>
      </ul>
  </nav>

  <div id="searchbox">
      <input type="text" placeholder="Search Here">
  </div>

  <main>

    <h2 class="page-heading">Policitile de confidentialitate GDPR</h2>
    <div id="post-container">
      <section id="blogpost">
        <div class="card">
          <div class="card-meta-blogpost">
            Postat de administratorul paginii <br> Aprilie 2023
            <a href="#">E-Startup Design</a>
          </div>
          <div class="card-image">
            <img src="/static/img/code.jpg" alt="Card Image">
          </div>
          <div class="card-description-policy">
            <h3>Politica GDPR</h3>

            <p>Aceasta este o declarație de politică de confidențialitate a companiei noastre. Acesta precizează că compania se angajează să prelucreze datele cu caracter personal într-un mod responsabil, transparent și sigur, în conformitate cu legislația relevantă privind protecția datelor. Politica include definiții
                ale termenilor precum „date cu caracter personal” și „categorii speciale de date cu caracter personal”, precum și o explicație a ceea ce înseamnă „prelucrare” și „consimțământ”. Datele personale prelucrate de companie prin intermediul formularului de contact al site-ului său web includ numele persoanei, numărul de telefon, adresa de e-mail și conținutul mesajului, care vor fi stocate aproximativ 6 luni - 1 an. 
                Compania a implementat măsuri tehnice și organizatorice pentru a asigura securitatea datelor cu caracter personal, cum ar fi limitarea accesului la acestea, implementarea politicilor și măsurilor tehnice, efectuarea de audituri periodice de securitate și criptarea și anonimizarea datelor.</p>
<br><br>

            <p>Ne obligăm să prelucrăm datele dumneavoastră cu caracter personal într-un mod responsabil, transparent, în condiții de siguranță, în scopuri legitime, ce urmează a fi menționate în conținutul acestei informări și să respectăm legislația privind proteția datelor cu caracter personal în vigoare.
                Conținutul politicii de confidențialitate a fost realizat în concordanță cu legislația în vigoare, are rol informativ și nu afectează drepturile pe care vi le oferă aceasta. Prin prezentul document ne dorim să vă oferim o imagine clară asupra felului în care prelucrăm datele dumneavoastră cu caracter personal și asupra drepturilor dumneavoastră.
                Pentru o parcurgere mai ușoară a politicii noastre de confidențialitate, găsiți mai jos termenii cei mai relevanți, definiții conform Regulamentului UE 679/2016:
                „Date cu caracter personal” înseamnă orice informație privind o persoană fizică identificată sau identificabilă („persoană vizată”);
                O persoana fizică identificabilă este o persoană care poate fi identificată, direct sau indirect, în special prin referire la un element de identificare, cum ar fi un nume, un număr de identificare, date de localizare, un identificator online, sau la unul sau mai multe elemente specifice, proprii identității sale fizice, fiziologice, genetice, psihice, economice, culturale sau sociale;
                „Categorii speciale de date cu caracter personal” (date sensibile) sunt acele date care dezvăluie originea rasială sau etnică, opiniile politice, confesiunea religioasă sau convingerile filozofice sau apartenența la sindicate și prelucrarea de date genetice, de date barometrice pentru identificarea unică a unei persoane fizice, de date privind sanatatea sau de date privind viața sexuală 
                sau orientarea sexuală ale unei persoane fizice;
                „Prelucrare” inseamnă orice operațiune sau set de operațiuni efectuate asupra datelor cu caracter personal sau asupra seturilor de date cu caracter personal, cu sau fără utilizarea de mijloace automatizate, cum ar fi colectarea, înregistrarea, organizarea, structurarea, stocarea, adaptarea sau modificarea, extragerea, consultarea, utilizarea, divulgarea prin transmitere, diseminarea sau punerea la dispoziție în orice alt mod, alinierea sau combinarea, restricționarea, ștergerea sau distrugerea;
                „Consimțământ” al persoanei vizate înseamnă orice manifestare de voință liberă, specifică, informată și lipsită de ambiguitate a persoanei vizate prin care aceasta acceptă, printr-o declarație sau printr-o acțiune fără echivoc, că datele cu caracter personal care o privesc să fie prelucrate;
                „Autoritatea de supraveghere a prelucrării datelor cu caracter personal” este o autoritate publică independentă care, potrivit legii, are atribuții referitoare la supravegherea respectării legislației protecției datelor cu caracter personal. În Romania, această autoritate de supraveghere a prelucrării datelor cu caracter personal este Autoritatea Națională de Supraveghere a Prelucrării Datelor cu Caracter Personal (ANSPDCP).
                Datele personale care prelucrăm noi prin intermediul site-ului www.cmsibiu.ro, sunt cele obținute prin formularul de contact, și anume: nume, număr telefon, adresă e-mail, și nu în ultimul rând conținutul mesajului transmis către noi.
                Mesajele primite de la Dvs. vor fi stocate aproximativ 5-10 ani, după care vor fi șterse.
                Securitatea datelor cu caracter personal: Prelucrarea datelor dumneavoastră personale într-o manieră responsabilă și sigură este prioritară pentru noi. Din acest motiv, am implementat măsuri tehnice și organizatorice de asigurare a securității datelor cu caracter personal, printre care se numără: limitarea accesului la datele dumneavoastră pentru colaboratorii și personalul nostru, implementarea de politici și măsuri tehnice dedicate, back-up-uri și audituri de securitate periodice, criptarea și anonimizarea acestora.
                Deși luăm toate măsurile rezonabile pentru a asigura securitatea datelor dumneavoastră, nu putem garanta lipsa oricărei încălcări de securitate sau imposibilitatea de penetrare a sistemelor de securitate. În cazul nefericit și puțin probabil în care o astfel de încălcare va surveni, vom urma procedurile legale pentru limitarea efectelor și informarea persoanelor vizate în maxim 48 de ore de la momentul incidentului, în cazul în care o eventuală încălcare poate aduce vreun prejudiciu acestora.
                Dispoziții finale: Prin manifestarea voinței libere, informată și lipsită de ambiguitate, printr-o declarație sau printr-o acțiune fără echivoc de furnizarea a datelor dumneavoastră personale ne acordați consimțământul de a prelucra datele dumneavoastră personale conform modului descris anterior. În ceea ce privește prelucrarea datelor cu caracter personal ale copiilor, aceștia trebuie să aibă cel puțin 16 ani pentru a-și acorda consimțământul, în cazul copiilor mai mici de 16 ani fiind nevoie de consimțământul titularului răspunderii părintești asupra acestuia.
                Nu aveți nicio obligație de a ne furniza datele dumneavoastră cu caracter personal pe care le-am menționat în acest document. Cu toate acestea, dacă nu ne oferiți datele menționate, sau ne oferiți date eronate, atunci o să fie imposibil să vă răspundem la mesaje. </p>

        
          </div>
        </div>

      </section>
    </div>

    <footer>
        <div id="right-footer">
            <p>© 2023 Acest site este dezvoltat de E-Startup Design.</p>
        </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>